<launch>
	<include file="$(find witmotion_ros)/launch/witmotion.launch" />
	<include file="$(find freenove_ros)/freenove.launch"/>

	<node name="enable" pkg="pet" type="enable.py"/>
	<node name="legs" pkg="pet" type="legs.py"/>
	<node name="mapper" pkg="pet" type="mapper.py"/>
	<node name="robot_localizer" pkg="pet" type="robot_localizer.py"/>
	<!--<node name="slam_test" pkg="pet" type="robot_localizer.py" />-->
	<!--<node name="vision_features" pkg="pet" type="vision_features.py"/>-->

	<param name="/raspicam_node/enable_raw" type="boolean" value="True" />
	
</launch>